.git
.gitignore
.env
.env.*
**/.DS_Store
**/.idea
**/.vscode
**/*.log
**/*.swp
**/*.tmp
**/node_modules
**/dist
**/build
**/coverage
**/.vite
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
